<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- configFragment 선언 -->
<th:block th:fragment="configFragment">  <!-- configFragment라는 이름의 Thymeleaf 프래그먼트를 정의 -->
    <!--<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>-->  <!-- jQuery 라이브러리의 3.5.1 버전을 로드 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.js"></script>
</th:block>
</html>