@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Pretendard-Regular', sans-serif;
    background-color: #f3f4f6;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 30px;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.header-row {
    border-bottom: 2px solid #e9ecef;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.header-row h2 {
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
}

.review-info {
    text-align: right;
    font-size: 0.9em;
    color: #777;
}

.review-info span {
    display: block;
    color: #333;
    font-weight: bold;
}

.review-text {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.review-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
    padding: 10px 0;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    .container {
        margin: 20px 10px;
        padding: 15px;
    }

    .header-row h2 {
        font-size: 2em;
    }

    .review-text {
        font-size: 1em;
    }
}

/* 좋아요 싫어요*/
.center-container {
    display: flex;
    justify-content: center;
    align-items: center; /* 중앙 정렬, 필요에 따라 변경 가능 */
    height: auto; /* 높이를 auto로 설정하여 자식 요소에 맞춤 */
    padding: 20px 0; /* 상하 패딩 추가 */
}

.like-dislike-icon, #likeButton, #dislikeButton {
    margin: 0 10px; /* 좌우 마진을 늘려 아이콘 간 간격 조정 */
    width: 50px; /* 아이콘 크기 */
    height: auto;
    cursor: pointer;
}

/* 댓글창 */
#comments-section {
    max-width: 1140px; /* 최대 너비 설정 */
    margin: 20px auto; /* 상단 및 하단 마진 추가 및 자동 좌우 마진으로 중앙 정렬 */
    padding: 20px; /* 패딩 추가 */
    background-color: #fff; /* 배경색 설정 */
    border: 1px solid #dee2e6; /* 테두리 색상 조정 */
    border-radius: 5px; /* 둥근 모서리 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 그림자 효과 */
}

#comments-list li {
    background-color: white;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    list-style-type: none;
}

#comments-list li:last-child {
    border-bottom: none;
}

#comments-list li:hover {
    background-color: #f1f1f1;
}

#comment-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

#comment-form button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

#comment-form button:hover {
    background-color: #0056b3;
}

.delete-comment {
    color: red;
    cursor: pointer;
    float: right;
    border: none;
    background: none;
}

.delete-comment:hover {
    text-decoration: underline;
}

.review-detail {
    max-width: 1140px; /* 최대 너비 설정 */
    margin: auto; /* 자동 마진으로 중앙 정렬 */
    background-color: #fff; /* 배경색 설정 */
    padding: 20px; /* 패딩 추가 */
    border-radius: 5px; /* 둥근 모서리 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 그림자 효과 */
}

/* 댓글 섹션 스타일 조정 */
.container, #comments-section {
    max-width: 1140px; /* 최대 너비 설정 */
    margin: 20px auto; /* 상단 및 하단 마진 추가 및 자동 좌우 마진으로 중앙 정렬 */
    padding: 20px; /* 패딩 추가 */
    background-color: #fff; /* 배경색 설정 */
    border-radius: 5px; /* 둥근 모서리 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 그림자 효과, 리뷰 창과 일치 */
}

/* 리뷰 상세 정보 창 스타일 */
.review-detail, #comments-section {
    max-width: 1140px; /* 최대 너비 설정 */
    margin: 20px auto; /* 상단 및 하단 마진 추가 및 자동 좌우 마진으로 중앙 정렬 */
    padding: 20px; /* 패딩 추가 */
    background-color: #fff; /* 배경색 설정 */
    border-radius: 5px; /* 둥근 모서리 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 그림자 효과, 리뷰 창과 일치 */
}